.icon-left {
	position: absolute;
	left: 15px;
	top: 30px;
}

.icon-right {
	position: absolute;
	right: 15px;
	bottom: 30px;
}

.season-display {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.season-display.summer i {
	color: red;
}

.season-display.winter i {
	color: blue;
}

.summer {
	background-color: orange;
}

.winter {
	background-color: rgb(240, 240, 255);
}
